@using Lunchroom.Application.Student.Commands.CreateStudent;
@model Lunchroom.Application.Lunchroom.Commands.EditLunchroom.EditLunchroomCommand

@{
    ViewData["Title"] = "Edit";
    
    var editLink = Url.Action("EditStudent");

}


<h1>@Model.Name Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<!-- Button trigger modal -->


<div class="m-3">
    <partial name="_CreateStudent" model="new CreateStudentCommand(){LunchroomEncodedName = Model.EncodedName}"/>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
<h5>Students</h5>
<div id="students" class="row" data-encoded-name="@Model.EncodedName" data-edit-link="@editLink" data-id="@Model.StudentId"></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/Lunchroom/Edit.js"></script>
}
